.dd-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $white;
    }

    &-primary {
        background-color: $purple;
        border-color: $purple;
        color: $white;
    }

    &-account {
        background-color: $white;
        color: $purple;
        text-transform: uppercase;
        padding-left: rem(14);
        padding-right: rem(14);
        font-weight: 600;
        font-size: rem(15);
        margin-top: 1rem;
        text-align: center;

        &-blue {
            background-color: $btn-primary-background-color;
            color: $white;
            width: 100%;
        }
        &-red {
            background-color: $btn-remove-background-color;
            color: $white;
            width: 100%;
        }
        &-green {
            background-color: $btn-add-background-color;
            color: $white;
            width: 100%;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        }
    }
}

.dd-bt {
    &-edit {
        border: none;
        background-color: transparent;
        color: #212529;
    }
}