.nav-front {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 30px;
    background-color: rgba(0, 0, 0, .3);
}
.nav-front ul {
    display: flex;
    flex-direction: row;
}
.nav-front ul li {
    list-style: none;
    padding: 10px 30px 0px 0px ;
}
.nav-front ul li a {
    text-decoration: none;
    border: 2px solid #2196f3;
    background-color: transparent;
    color: white;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}
.nav-front ul li a:hover {
    background-color: #2196f3;
  }