<h1>{% trans %}account.validation.mail.title{% endtrans %}</h1>

<p>
    Vous devez valider votre compte ici.
    <a href="{{ path('validate_account', {token: token, userid: userid}) }}">{% trans %}password.reset_link{% endtrans %}</a>
</p>
<p>
    {% trans %}password.reset_link_conditions{% endtrans %}.
</p>