<h1>{% trans %}password.set_pwd_title{% endtrans %}</h1>

<p>
    <a href="{{ path('reset_password', {token: token, userid: userid}) }}">{% trans %}password.reset_link{% endtrans %}</a>
</p>
<p>
    {% trans %}password.reset_link_conditions{% endtrans %}.
</p>