{% extends 'base_front.html.twig' %}

{% block title %}DivinDeliver | {% trans %}account.validation.page.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="row d-flex align-items-center justify-content-center">
        <div class="card pt-5 pb-5 mb-5">
            {{ form_start(form, { 'attr': {'class': 'admin-form'} }) }}
                
                <h2 class="title margin-0 text-align-center mb-5">{% trans %}account.validation.page.title{% endtrans %}</h2>
                <p><i style="opacity:0.5;">{% trans %}password.infos{% endtrans %}</i></p>

                {{ form_errors(form) }}
                {{ form_row(form.password) }}

                <button type="submit" class="dd-btn dd-btn-account dd-btn-account-blue margin-top-50">
                    {% trans %}account.validation.page.validate_button{% endtrans %}
                </button>
                
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}