{% extends 'base_back.html.twig' %}

{% block title %}{% trans %}item.word{% endtrans %} {{ category.title }}{% endblock %}

{% block body %}
    <a href="{{ path('admin_category_edit', {id: category.id}) }}" class="dd-btn dd-btn-edit">{% trans %}button.edit{% endtrans %}</a> <br>
    <br>
    {% trans %}name{% endtrans %} : {{ category.title }} <br>
    <br>
    <a href="{{ path('admin_category_index') }}" class="dd-btn dd-btn-default">{% trans %}button.back{% endtrans %}</a>
{% endblock %}