{% extends 'base_front.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="card">
    <h2>Please sign in</h2>

    <form method="post" class="admin-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputEmail">{% trans %}form.email{% endtrans %}</label>
        <input type="email" value="{{ last_username }}" name="email" class="form-control form-control-user" required autofocus>
        
        <label for="inputPassword">{% trans %}form.password{% endtrans %}</label>
        <input type="password" name="password" class="form-control form-control-user" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="dd-btn dd-btn-account dd-btn-account-blue margin-top-50" type="submit">{% trans %}user.login{% endtrans %}</button>

        <a href="{{ path('forgot_password') }}" class="dd-btn dd-btn-account dd-btn-account-red">{% trans %}password.forgot_password{% endtrans %}</a>
    </form>
</div>
{% endblock %}
