html {
    height: 100%;
}

body {
    background-color: lightgray;
    font-family: $font1;
    color: $text-color;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: $font2;
}

h1 {
    font-size: 24px!important;
    margin: 0!important;
    margin-bottom: 16px!important;
}

h2 {
    font-size: 16px!important;
}

.container-front {
    background-image: url("../../public/images/background.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.create-button {
    text-align: center;
    display: inline-block;

    text-decoration: none;
    background-color: #2196f3;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 300px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}
.create-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.content {
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.content h1 {
    color: white;
    font-size: 56px !important;
    padding-bottom: 150px;
}