{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Error 404{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="bg-white" style="padding-top: 75px; height:100%;">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="card pt-5 pb-5 mb-5">
                    <h1>404</h1>

                    <p>
                        {% trans %}error.not_found{% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>