{% extends 'base_back.html.twig' %}

{% block title %}Produit {{ productCategory.name }}{% endblock %}

{% block body %}
    <a href="{{ path('admin_productcategory_edit', {id: productCategory.id}) }}" class="dd-btn dd-btn-edit">Editer</a> <br>
    <br>
    Name : {{ productCategory.name }} <br>
    <br>
    <a href="{{ path('admin_productcategory_index') }}" class="dd-btn dd-btn-default">Retour</a>
{% endblock %}