{% extends 'base_front.html.twig' %}

{% block title %}DivinDeliver{% endblock %}

{% block body %}
    <h1>Divin Deliver</h1>
    {% if not app.user %}
        <a href="{{ path(('app_register')) }}" class="create-button">{% trans %}store.create{% endtrans %}</a>
    {% else %}
        <a href="{{ path('restaurant_default_index') }}" class="create-button">{% trans %}my-restaurant{% endtrans %}</a>
    {% endif %}
{% endblock %}
