{% extends 'base_front.html.twig' %}

{% block title %}DivinDeliver{% endblock %}

{% block body %}
    <h1>Divin Deliver</h1>
    <a href="{{ path(('new_store')) }}" class="create-button">Créer votre restaurant</a>
{% endblock %}
