{% extends 'base_back.html.twig' %}

{% block title %}{% trans with {'%category_title%': category.title} %}category.edit{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans with {'%category_title%': category.title} %}category.edit{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <br>
        <input type="submit" value="{% trans %}button.update{% endtrans %}" class="dd-btn dd-btn-edit">
    {{ form_end(form) }}
{% endblock %}