{% extends 'base_restaurant.html.twig' %}

{% block title %}{% trans %}category.new{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}category.new{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <input type="submit" class="btn green" value="{% trans %}button.create{% endtrans %}">
    {{ form_end(form) }}
{% endblock %}