{% extends 'base_front.html.twig' %}

{% block title %}DivinDeliver | {% trans %}password.forgot_password{% endtrans %}{% endblock %}

{% block body %}
<div class="card height-50">
    <h2>{% trans %}password.forgot_password{% endtrans %}</h2>
    
    <form method="post" class="admin-form">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.email) }}
            <input type="submit" value ="{% trans %}button.send{% endtrans %}" class="btn btn-lg btn-primary">
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}