{% extends 'base_front.html.twig' %}

{% block title %}DivinDeliver | {% trans %}password.forgot_password{% endtrans %}{% endblock %}

{% block body %}
    <div class="row d-flex align-items-center justify-content-center">
        <div class="card pt-5 pb-5">
            <h2 class="title margin-0 text-align-center">{% trans %}password.forgot_password{% endtrans %}</h2>
            
            <form method="post" class="admin-form mt-5">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.email) }}

                    <input type="submit" value ="{% trans %}button.send{% endtrans %}" class="dd-btn dd-btn-account dd-btn-account-blue mt-5">
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}