{% extends 'base_front.html.twig' %}

{% block title %}Reset password link expired{% endblock %}

{% block body %}
    <h1>Reset password link expired</h1>

    This link has already been used or expired.

    You can resend a link <a href="{{ path('forgot_password') }}">here</a>.
{% endblock %}