{% extends 'base_front.html.twig' %}

{% block title %}{% trans %}password.{% trans %}password.forgot_password{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}password.{% trans %}password.forgot_password{% endtrans %}</h1>

    {% trans %}password.reset_link_not_valid{% endtrans %}.

    {% trans %}password.resend_link{% endtrans %}<a href="{{ path('forgot_password') }}">{% trans %}here{% endtrans %}</a>.
{% endblock %}