{% extends 'base_front.html.twig' %}

{% block title %}DivinDeliver | {% trans %}password.forgot_password{% endtrans %}{% endblock %}

{% block body %}
    <div class="row d-flex align-items-center justify-content-center">
        <div class="card pt-5 pb-5">                
            <h2 class="title margin-0 text-align-center mb-5">
                {% trans %}password.forgot_password{% endtrans %}
            </h2>
            <div class="d-flex justify-content-center">
                <p>
                    {% trans %}password.reset_link_not_valid{% endtrans %}. {% trans %}password.resend_link{% endtrans %} <a href="{{ path('forgot_password') }}">{% trans %}password.here{% endtrans %}</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}