{% extends 'base_front.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.password) }}
        <input type="submit" value ="Reset" class="btn btn-lg btn-primary">
    {{ form_end(form) }}
</form>
{% endblock %}