{% extends 'base_front.html.twig' %}

{% block title %}Reset password request sent{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    You will receive a link to reset your password on this mail adress : <i>{{ email }}</i>
    
{% endblock %}