{% extends 'base_front.html.twig' %}

{% block title %}DivinDeliver | {% trans %}password.reset_link_sent{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}password.reset_link_sent{% endtrans %}</h1>

    {% trans %}password.reset_link_will_receive{% endtrans %} : <i>{{ email }}</i> 
{% endblock %}