{% extends 'base_front.html.twig' %}

{% block title %}{% trans %}password.reset_pwd_title{% endtrans %}{% endblock %}

{% block body %}
<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}password.reset_pwd_title{% endtrans %}</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.password) }}
        <input type="submit" value ="{% trans %}button.reset{% endtrans %}" class="btn btn-lg btn-primary">
    {{ form_end(form) }}
</form>
{% endblock %}