{% extends 'base_front.html.twig' %}

{% block title %}DivinDeliver | {% trans %}password.reset_link_sent{% endtrans %}{% endblock %}

{% block body %}
    <div class="card height-50">
        <h2>{% trans %}password.reset_link_sent{% endtrans %}</h2>
        {% trans %}password.reset_link_will_receive{% endtrans %} : <i>{{ email }}</i> 
    </div>
{% endblock %}