{% extends 'base_front.html.twig' %}

{% block title %}{% trans %}password.reset_pwd_title{% endtrans %}{% endblock %}

{% block body %}
    <div class="card height-50">
        <h2>{% trans %}password.reset_pwd_title{% endtrans %}</h2>
        
        <form method="post" class="admin-form">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.password) }}
                <input type="submit" value ="{% trans %}button.reset{% endtrans %}" class="btn btn-lg btn-primary">
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}