{% extends 'base_back.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Modifier mon mot de passe</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        <input type="submit" value="Modifier" class="dd-btn dd-btn-edit">
    {{ form_end(form) }}
{% endblock %}